<label for="name">Name:</label>
<%= item.name %>
<br>
<label for="Cost">Cost:</label>
<%= item.cost %>
<br>
<label for="descriptioin">Description:</label>
<%= item.description %>
<br>
<label for="start_date">Start Date:</label>
<%= item.start_date %>
<br>
<label for="stop_date">Stop Date:</label>
<%= item.stop_date %>