<h3>Name: <%= @item.name %> </h3>
<p>Description: <%= @item.description %> </p>
<p>Date Start: <%= @item.start_date %> </p>
<p>Date End: <%= @item.end_date %> </p>
<!-- Active record method .cont to count the # of bids... -->
<p>Current number of bids placed: <%= @item.bids.count  %> </p>

<hr>

<!-- If the user created this item they can edit AND the user cannot be nil -->
<!-- Helper method for the session checks would be nice... -->
<% if logged_in?(@item)  %>

  <h3>Edit <%= @item.name %></h3>
    <!-- Partial for Edit form... -->
      <%= erb :_edit_form %>

    <% else%>

      <% if !logged_in?(@item) %>

        <!-- user is logged in and can bid -->
        <h3>Looks like you can bid on this item</h3>

        <form method="post" action="/bid/item/<%= @item.id %>">
          <input type="hidden" name="bid[user_id]" value="<%= session[:user_id] %>">
          <input type="hidden" name="bid[item_id]" value="<%= @item.id %>">
          <input type="text" name="bid[amount]">
          <input type="submit" value="Place Bid">
        </form>

        <% else %>
          <a href="/login">Please login to bid</a>

      <% end %>

  <% end %>
