<html>
<head>
  <title>Blind Auction Homepage</title>
</head>
<body>
  <div>
    <h1>Welcome!</h1>
  </div>
  <h2> All items for sale </h2>
  <% @items.each do |item| %>
      <a href="/<%= item.id %>"><%= item.name %></a>
      <%= item.name %>, in category: <%= item.category %>, for sale by <%= item.user.username %>
  <br>
<% end %>
</body>
</html>
