<div class="container">

  <ul>
    <li>Item: <%= @item.title %></li>
    <li>Description: <%= @item.description %></li>
    <li>Bidding start date: <%= @item.start_bid %></li>
    <li>Bidding end date: <%= @item.end_bid %></li>
    <li>Starting price: $<%= @item.initial_price %></li>
    <li>Owner: <%= @owner.name %></li>
  </ul>

<% if current_user %>
  <form action="/set_bid" method="post">
    <input type="hidden" value="<%= @user.id %>">
    <input type="submit" value="Place bid!">
  </form>
<% end %>

<% if @owner.items.include?(@item) %>
  <a href="/items/<%= @item.id %>/edit">EDIT</a>
<% end %>

</div>