<div class="container">

  <ul>
    <li>Item: <%= @item.title %></li>
    <li>Description: <%= @item.description %></li>
    <li>Bidding start date: <%= @item.start_bid %></li>
    <li>Bidding end date: <%= @item.end_bid %></li>
    <li>Starting price: $<%= @item.initial_price %></li>
    <li>Owner: <%= @owner.name %></li>
  </ul>

<% if current_user && @user != @owner %>
  <form action="/set_bid" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="item_id" value="<%= @item.id %>">
    <input type="submit" value="Place bid!">
  </form>
<% end %>

<% if @owner.items.include?(@item) %>
  <button><a href="/items/<%= @item.id %>/edit">Edit</a></button>

  <form action="/items/<%= @item.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
<% end %>

</div>