  <%= @item.name %></a>
    <br>
    <label for="Cost">Cost:</label>
    <%= @item.cost %>
    <br>
    <label for="descriptioin">Description:</label>
    <%= @item.description %>
    <br>
    <label for="start_date">Start Date:</label>
    <%= @item.start_date %>
    <br>
    <label for="stop_date">Stop Date:</label>
    <%= @item.stop_date %></li>
     <label for="stop_date">Created By:</label>
    <%= @item.user.username %>
<!-- This is where I would add a button for the bids and display the number of bids for this item. I would have added here also a form to submit a bid and add a confirmation page to say that the bid was accepted. -->
