<html>
<head> Thank you for looking at <%= @item.name %>
  <title></title>
</head>
<body>
<%= @item.name %>
<%= @item.description %>
<%= @item.auction_begin %>
<%= @item.auction_end %>

</body>
</html>
