<h1>Welcome <%= @user.user_name %> </h1>

<div class = "new_item">
  <h3>Sell New item</h3>

  <!-- Create new item form -->
  <%= erb :_create_item_form %>

</div>

<h3>Hey Here are all your items...</h3>

<% @items.each do |item| %>
  <div class="all_items" style= "border: 2px solid black">
  <!-- item name -->
    <%= item.name %>

    <!-- Update Item -->
    <a href="/item/<%= item.id %>">Update</a>

    <!-- delete Item -->
    <form method="post" action="/item/<%= item.id %>">
      <input type= "hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </div>

  <br><br>

<% end %>


