<h1><%= @user.email %>'s profile page</h1>

<form action='/logout' method="post" >
  <input type="submit" value="logout">
</form>

<!-- view all items -->
<h1>All the items here:</h1>
<ul>
  <% @items.each do |item| %>
    title: <a href="/users/<%= session[:user_id]%>/items/<%= item.id%>"><%= item.title%></a>
    description: <%= item.description %>
    start date: <%= item.start_date %>
    end date: <%= item.end_date %>
  <!-- if the item is created by the user -->
    <% if item.user_id == @user.id %>
      <a href="/users/<%= @user.id %>/items/<%= item.id %>/edit">Edit</a>
  <!-- form to delete -->
      <form method="post" action="/users/<%= session[:user_id] %>/items/<%= item.id%>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
      </form>
    <% end %>
    <% if item.start_date < Time.now && item.end_date > Time.now %>
      <p>!!!active!!!</p>
    <% end %>
    <br>
  <% end %>
</ul>

  <!-- add an item to auction site -->
<h1>Add your item here:</h1>
<form action="/users/<%= @user.id%>/items" method="post">
  <input type="text" name="title" value="">
  <input type="text" name="description" value="">
  <input type="text" name="start_date" value="">
  <input type="text" name="end_date" value="">
  <input type="submit" value="add">
</form>
