<form method='post' action='/user/<%= @user.id %>/auction'>
  <input type='text' name='name' placeholder='Item Name'>
  <input type='text' name='description' placeholder='description'>
  <input type='text' name='start' placeholder='Start Time'>
  <input type='text' name='finish' placeholder='End Time'>
  <input type="submit" value='Post'>
</form>
 <% @items.each do |item| %>
  <%= item.name %>
  <% if @signed_in %>
    <a href="/user/<%= @user.id %>/auction/<%= item.id %>/edit">Edit</a>
  <form method='post' action='/user/<%= @user.id %>/auction/<%= item.id %>'>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
  <% end %>
  <br>
 <% end %>
