  My items

  <ul>
    <% @items.each do |item| %>
      <% if item.owner_id == session[:owner_id] %>
        <li><%= item.title %> ||
          <a href='/items/<%=item.id%>'>See item details</a> ||
          <a href='/items/<%=item.id%>/edit'>Edit item</a> ||

          <form method="post" action="/items/<%= item.id %>"> <!-- Make this less gross/formify the others -->
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete item">
          </form>
      <% else %>
        <li><%= item.title %> || <a href='/items/<%=item.id%>'>See item details</a></li>
      <% end %>
    <% end %>
  </ul>

  <h3><a href='items/new'>Add a new item for bidding</a></h3>

  <h3>My bids</h3> <!-- Display my bids -->
  <% @my_bids.each do |bid| %>
    <li>You bid $<%= bid.amount%> on <%=bid.item.title%></li>
  <% end %> <!-- Display my bids -->

<!-- Test that my won items works using Harold's bid on "a new book" (inactive item, maximum bid by current user) -->

  <h3>My won items:</h3>
  <% @my_bids.each do |bid| %>
    <%if Bid.where(item_id: bid.item.id).maximum(:amount) == bid.amount%>
      <%@winning_item = Item.find(bid.item.id)%>
      <% if @winning_item.close < Date.today %>
        <%= @winning_item.title %><br>
      <% end %>
    <% end %>
  <% end %>
