

<p>Your Items</p>

<% @items.each do |item| %>

<li>
  <a href="/"><%=item.name%></a>
  <a href="/items/<%=item.id%>/edit">
    <button>edit item</button>
  </a>
  <form action="/items/delete/<%=item.id%>" method="get">
    <input type="submit" value="delete">
  </form>
  <br><br><br>
</li>

<%end%>
<a href="/items/new">Create New Item</a>
<br><br><br>


<p><b>Your Bid History</b></p>

<% @bids.each do |bid| %>

<li>
  $<%=bid.value%> for <a href="/items/<%=bid.item.id%>"><%=bid.item.name%></a>
  <br><br><br>
</li>

<%end%>






