YOUR  BIDS


<%@bid_list.each do |bid|%>
<hr>
  <li><a href="/items/<%=bid.item.id%>"><%=bid.item.name%></a>
  <li>YOUR BID $<%=bid.price.to_s.gsub(/(\d)(?=(\d{3})+(?!\d))/, "\\1,")%></li>
  <%if bid.top_bid == true && bid.item.active == true%>
    <li>CURRENT TOP BID</li>
    <li><%=(bid.item.end_date - Date.today).to_i%> DAYS LEFT</li>
  <%elsif bid.top_bid == false && bid.item.active == true%>
      <li><%=(bid.item.end_date - Date.today).to_i%> DAYS LEFT</li>
  <%elsif bid.top_bid == true && bid.item.active == false%>
    <li>AUCTION OVER</li>
    <li>WON</li>
  <%else %>
  <li>DID NOT WIN</li>
  <li>AUCTION OVER</li>
  <%end%>


<br>
<%end%>

<hr>
YOUR CURRENT ITEMS
<%@item_list.each do |item|%>
  <li><a href=""><%=item.name%></a></li>
  <li>Current Bid: <%=item.bids.maximum('price')%></li>
  <li>bid count: <%=item.bids.count%></li>

<br>
  <form method= "post" action="/items/<%=item.id%>">
      <input type="hidden" , name="_method",  value="delete">
      <input type="hidden" name="item_id" value ="<%=item.id%>">
      <input type= "submit" value="DELETE">
  </form>
  <form action="/items/<%=item.id%>/edit">
      <input type="submit" value="EDIT">
  </form>
  <hr>
 <br>
<%end%>



