<html>
<head>
  <title>Profile Page</title>
</head>
<body>
    <% if @errors %>
      <%= @errors %>
    <% end %>

<h3>Add an item for auction</h3>
  <form action="/items" method="post">
    <input placeholder="Item name" name="name">
    <input placeholder="Category" name="category">
    <input placeholder="Minimum Bid" type="number" name="minimum_bid">
    <input placeholder="Start date" type="date" name="start_date">
    <input placeholder="End date" type="date" name="end_date">
    <input type="submit">
  </form>

<h3>Your items for sale</h3>
<br>
<% @items.each do |item| %>
  <% if @user.id == item.user_id %>
    <a href="/<%= item.id %>"><%= item.name %></a>, in category: <%= item.category %>, for sale by <%= item.user.username %>
    <br>
  <% end %>
  <% if @user.id == item.user_id %>
    <form action="/items/<%= item.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="DELETE">
  <% end %>
<% end %>

<br><br><br>
<h3>All items for sale</h3>
<br>
<% @items.each do |item| %>
  <% if @user.id == item.user_id %>
    <a href="/<%= item.id %>"><%= item.name %></a>
  <% else %>
    <%= item.name %>
  <% end %>, in category: <%= item.category %>, for sale by <%= item.user.username %>
  <br>
<% end %>
<br>
</body>
</html>
