<h1>Details of item: <%= @item.title %> </h1>
<%= @item.description %>
<h4>Current number of bidders: <%= @bidders %></h4>

<% if session[:user_id] %>
  <h1>Enter a bid amount:</h1>
  <form action="/users/<%= session[:user_id] %>/items/<%= @item.id%>/bid" method="post">
    <input type="text" name="bid" placeholder="bid amount" value="">
    <input type="submit" value="Place bid">
  </form>
<% else %>
  <a href="/">To place a bid please login or register</a>
<% end %>


