<div class='container'>
  <h2> Your items </h2>
  <div class='your-items'>
    <% @your_items.each do |item| %>
    <a href="../items/<%= item.id %>"><%= item.name %></a>

      <% if item.user_id == session[:id] %>

        <form action='../items/update/<%= item.id %>' method='get'>
          <input type='submit' value='Edit'>
        </form>

        <form action='../items/<%= item.id %>' method='post'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='Delete'>
        </form>

      <% end %>
    <br>
    <% end %>
  </div>

<hr>

<form action='../items' method='post'>
  <input name="name" type="text" placeholder="Name of item">
  <textarea name= "description" placeholder="Description"></textarea>
  <input name= "start_date" type="datetime" placeholder="YYYY-MM-DD">
  <input name= "end_date" type="datetime" placeholder="YYYY-MM-DD">
  <input  type="Submit" value="Add item">
  <br>
</form>

<hr>

  <div class='all-items'>
    <h2> All items </h2>
      <% @items.each do |item| %>
      <a href="../items/<%= item.id %>"><%= item.name %></a><br>
      <% end %>
  <div>

</div>
