<h3><%= @user.username %>'s Profile</h3>

<a href="/items/new">New Item</a>
<br>
<a href="/bids/active">Active Items</a>

<ul>
  <% @items.each do |item| %>
    <li>
      <a href="/items/<%= item.id %>"><%= item.name %></a>
      <% if item.user_id == session[:user_id] %>
        <% if item.bids != [] %>
          <p>Current Bid: <%= item.bids.last.amount %></p>
        <% end %>
        <form method="get" action="/items/<%= item.id %>/delete">
          <input type="submit" value="Delete">
        </form>
        <form method="get" action="/items/<%= item.id %>/update">
          <input type="submit" value="Update">
        </form>
      <% end %>
    </li>
  <% end %>
</ul>

<h3>Item History</h3>

<ul>
  <% @bids.each do |bid| %>
  <li><a href="/items/<%= bid.item_id %>"><%= bid.item_id %></a></li>
  <% end %>
</ul>

<h3>Won Bids</h3>

<ul>
  <% @items.each do |item| %>\
    <% if item.bids.last == session[:user_id] && item.end_time <= Time.now %>
      <li><a href="/items/<%= bid.item_id %>"><%= bid.item_id %></a></li>
    <% end %>
  <% end %>
</ul>
