
<h1><%= @user.email %>'s profile page</h1>

<form action='/logout' method="post" >
  <input type="submit" value="logout">
</form>

<!-- view all items -->
<h1>All the items here:</h1>
<ul>
  <% @items.each do |item| %><li>
    title: <a href="/users/<%= session[:user_id]%>/items/<%= item.id%>"><%= item.title%></a><% if item.start_date < Time.now && item.end_date > Time.now %>
      <span style="color:red">active</span>
    <% end %><br>
    start date: <%= item.start_date %><br>
    end date: <%= item.end_date %><br>
  <!-- if the item is created by the user -->
    <% if item.user_id == @user.id %>
      <a href="/users/<%= @user.id %>/items/<%= item.id %>/edit">Edit</a>
  <!-- form to delete -->
      <form method="post" action="/users/<%= session[:user_id] %>/items/<%= item.id%>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
      </form>
    <% end %>

    <br>
  </li>
  <% end %>
</ul>

<h1>You have bid on these items below: </h1>
<% @user.bids.each do |bid| %>
    <li><%= Item.find(bid.item_id).title %><br></li>
<% end %>

<h1>Items you have won: </h1>
<% @user.bids.each do |bid| %>
  <% item = Item.find(bid.item_id) %>
  <% if item.start_date && item.end_date < Time.now %>
      <% if item.max.user_id == @user.id %>
        <%= item.title %>
      <% end %>
  <% end %>
<% end %>

  <!-- add an item to auction site -->
<h1>Add your item here:</h1>
<form action="/users/<%= @user.id%>/items" method="post">
  <input type="text" name="title" value="" placeholder="title">
  <input type="text" name="description" value="" placeholder="description">
  <input type="text" name="start_date" value="" placeholder="start date">
  <input type="text" name="end_date" value="" placeholder="end date">
  <input type="submit" value="add">
</form>
