<h1> <%= @item.name %> </h1>
  <div>
    <p> Description: <%= @item.description %> </p>
    <p> Auction Start Date: <%= @item.start_date %> </p>
    <p> Auction End Date: <%= @item.end_date %> </p>
    <p> Current total number of bidders: <%= @number_bidders %> </p>
  </div>
